.notification {
  width: 100%;
  height: 3rem;
  background-color: #1a8ed1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 10%;
  align-items: center;
  color: white;
  position: relative;
}

.notification h2,
.notification p {
  font-size: 1rem;
  margin: 0;
}

.error {
  background-color: #690000;
}

.success {
  background-color: #1ad1b9;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  margin-left: 1rem;
  line-height: 1;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.closeButton:hover {
  opacity: 1;
}